{% extends "ui/panels/_base.html" %}
{% load helpers %}
{% load i18n %}

{% block panel_content %}
  <table class="table table-hover">
    <thead>
      <tr>
        <th>{% trans "Value" %}</th>
        <th>{% trans "Label" %}</th>
        <th>{% trans "Color" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for choice in choices %}
        <tr>
          <td>{{ choice.value }}</td>
          <td>{{ choice.label }}</td>
          <td>
            {% if choice.color %}
              {% badge choice.color bg_color=choice.color %}
            {% else %}
              {{ ''|placeholder }}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include 'inc/paginator.html' with page=choices %}
{% endblock panel_content %}
