.ts-wrapper.multi {
  .ts-control {
    padding: 7px 7px 3px 7px;
    div {
      margin: 0 4px 4px 0;
    }
  }
}

// Replicate Bootstrap's invalid styling for widgets which explicitly use
// the .is-invalid class.
select.tomselected.is-invalid + div.ts-wrapper {
  @extend .is-invalid;
}

// Replicate NetBox's standard server-side error border on Tom Select's
// visible wrapper.
select.tomselected[aria-invalid='true']:not(.is-invalid) + div.ts-wrapper {
  border: 1px solid $red;
}
