{% load i18n %}

<div class="d-flex ms-2">
  <button type="button" class="nav-link color-mode-toggle hide-theme-dark fs-2 p-0 text-secondary" title="{% trans "Enable dark mode" %}" aria-label="{% trans "Enable dark mode" %}" data-bs-toggle="tooltip" data-bs-placement="bottom">
    <i class="mdi mdi-lightbulb" aria-hidden="true"></i>
  </button>
  <button type="button" class="nav-link color-mode-toggle hide-theme-light fs-2 p-0 text-secondary" title="{% trans "Enable light mode" %}" aria-label="{% trans "Enable light mode" %}" data-bs-toggle="tooltip" data-bs-placement="bottom">
    <i class="mdi mdi-lightbulb-on" aria-hidden="true"></i>
  </button>
</div>
