{% extends 'generic/object_edit.html' %}
{% load helpers %}
{% load form_helpers %}
{% load i18n %}

{% block title %}{% blocktrans trimmed with object_type_plural=obj_type_plural %}Bulk Add {{ object_type_plural }}{% endblocktrans %}{% endblock %}

{% block tabs %}
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="{{ add_url }}{% querystring request %}" class="nav-link">
        {% trans "Create" %}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active">
        {% trans "Bulk Create" %}
      </a>
    </li>
  </ul>
{% endblock %}

{% block pre_form_fields %}
  <div class="field-group my-5">
    <div class="row">
      <h2 class="col-9 offset-3">{% trans "Pattern" %}</h2>
    </div>
    {% render_field form.pattern %}
  </div>
{% endblock pre_form_fields %}

{% block form %}
  {% include 'htmx/form.html' with form=model_form %}
{% endblock form %}
